
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if {layout.title}%}
        <title>{{layout.title}}</title>
    {% else %}
        <title>{{page.title}}</title>
    {% endif %}
    <!-- CSS-->
    <link rel="stylesheet" href="{{ '/assets/css/MasterCSS.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/assets/css/navCategory.css' | relative_url}}">

    <!-- javascript -->
    <script>
    function CatOpen(){
    var Cat = document.getElementById("CategoryBox");
    if (Cat.style.left == ""){
        Cat.style.left = "400px";
    }
    else {
        Cat.style.left = "";
    }
    }
    function CatClose(){
    var Cat = document.getElementById("CategoryBox");
    Cat.style.left = "";
    }

    function loadingOff(){
    var loading = document.getElementById("nowLoading");
    loading.style.display = "none"

    }
    </script>

    <!--Favicon-->

    <!--RSS-->

</head>
