
<!--SideBanner-->
<div id="sideBannerOutline">
    <div id="sideBannerSizer">
        <div id="profileOutline">
            <div id="profile">
                <a href="/"><img src="/assets/IMP2strsmall2.png" alt=""></a>
            </div>
            <div id="navBox" itemscope='itemscope'itemtype="http://schema.org/SiteNavigationElement"role="navigation">
                <ul id = "nav">
                    <a href = "#"><li><span>About</span></li></a>
                    <a href = "#" onclick="CatOpen()"><li><span>Category</span></li></a>
                    <a href='http://github.com/impulsivestudio'><li><span>Github</span></li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/SideBanner-->

<!-- Category -->
<div id="CategoryBox">
    <div id="menuIcon">
        <a href="#"onclick="CatClose()"><img src="assets/menu.png" alt=""></a>
    </div>

    <div id="CategorySizer">
        <br><div style = "border-bottom:1px solid white; padding-bottom:20px;">
            Category
        </div>
        <div id="Category">

            (대충 카테고리)

        </div>

    </div>
</div>
<!-- /Category -->
