/* Main */
body{padding:0;margin:0;color:white;background-color: #dfdfdf;}
a{text-decoration: none;color:inherit;}
/* /Main */

/* Font */
@font-face {
    font-family:'Minimal';
    src: url('../font/minimal.otf');
}
/* /Font */


/* SideBanner */
#sideBannerOutline{z-index: 999;text-align:center;position:fixed; width:400px; height:100vh; background-color:#dfdfdf;color:black;font-size:80px;}
#sideBannerSizer{padding:20px;text-align:center;width:400px;height:100%;box-sizing: border-box;}

#profileOutline{position: relative;width:360px;height:300px;font-size: 60px;}
#profileIMG{position: absolute;width:250px;height:auto;left: 60px;}
#profileText{position: absolute;left:-10px;top:260px;width: auto;}
#navBox{position: absolute; top:350px;width:360px;height:400px;font-size:50px;font-family: Minimal;text-align: left;padding-left:10px;}
#nav{list-style: none;margin-top:20px;}
#nav li{height: 55px;}
#CategoryBox{position: fixed;transition: 1s;font-size: 50px;font-family: minimal;text-align: center;left: 0;z-index:998;background-color: #bababa;width:410px;height:100vh;opacity: 0.8;}
#CategorySizer{width:410px;box-sizing: border-box;padding-left:80px;padding-right:80px;opacity: 1.0;}
#Cathandle{position: absolute;display: block;background-color:#DC143C;opacity: 0.7;top:0px;right: 0px;height: 100%;width:20px;}
#searchIcon{position: absolute;left:10px;top:11px;}
#menuIcon{position: absolute; right:10px;top:10px;}
#Category{padding-top:10px;}
#Catlist{list-style: none;text-align: left;padding-left: 0px;}
.CatLittle{list-style: none;left:10px;}
/* /SideBanner */



#mainBoxOutline{margin-left:400px;}
#mainBoxOutrigger{background-color:#dfdfdf;text-align:center;color:black;}
#mainBoxSizer{padding:10px;}

/*Home*/
