/* Main */
body{padding:0;margin:0;color:black;background-color: white;font-family:SN;}
a{text-decoration: none;color:inherit;}
img{max-width: 600px;margin-left: auto;margin-right: auto;display:block;}
/* /Main */

/* Font */
@font-face {
    font-family:'Minimal';
    src: url('../font/minimal.otf');
}
@font-face{
    font-family: 'SN';
    src: url('../font/NM.ttf')
}
/* /Font */


/* SideBanner */
#sideBannerOutline{font-family: minimal;z-index: 999;text-align:center;position:fixed; width:400px; height:100vh; background-color:white;color:black;font-size:80px;}
#sideBannerSizer{padding:20px;text-align:center;width:400px;height:100%;box-sizing: border-box;}

#profileOutline{position: relative;width:360px;height:300px;font-size: 60px;}
#profileIMG{position: absolute;width:250px;height:auto;left: 60px;}
#profileText{position: absolute;left:-10px;top:260px;width: auto;}
#navBox{position: absolute; top:350px;width:360px;height:400px;font-size:50px;text-align: left;padding-left:10px;}
#nav{list-style: none;margin-top:20px;}
#nav li{height: 55px;}
#CategoryBox{font-family: Minimal;position: fixed;transition: 0.5s;font-size: 50px;text-align: center;left: 0;z-index:998;background-color: #dfdfdf;width:410px;height:100vh;opacity: 0.8;}
#CategorySizer{width:410px;box-sizing: border-box;padding-left:80px;padding-right:80px;opacity: 1.0;}
#searchIcon{position: absolute;left:10px;top:11px;}
#searchIcon img{width: 50px;}
#menuIcon{position: absolute; right:10px;top:5px;}
#menuIcon img{width:50px;}
#Category{padding-top:10px;}
#Catlist{list-style: none;text-align: left;padding-left: 0px;}
.CatLittle{list-style: none;padding-left:0px;padding-bottom: 10px;font-size:40px;}
.CatLittle li{height: 30px;padding-bottom: 10px;}
/* /SideBanner */


#mainBoxOutline{margin-left:400px;margin-bottom: 200px;}
#mainBoxOutrigger{background-color:white;text-align:center;color:black;padding:10px;box-sizing: border-box;width: 100%;height: 100%;}
#mainBoxSizer{width: 700px;:10px;margin-left: auto;margin-right: auto;}


#post{margin-top:100px;margin-left: auto;margin-right: auto;background-color: transparent;width: 700px;}
#post p{margin:15px;font-size: 16px;line-height: 1.7;}
#post h1{font-size:50px;}

/* Post List*/
#mainCat{padding-bottom: 10px;border-bottom: 3px solid #dfdfdf;padding-left: 20px;margin-top: 70px;text-align: left;color:black;font-size: 70px;}
#postBox{position: relative;top:20px;text-align: left;list-style:none;padding-left:0;}
.postDes h1{font-size: 35px;margin-bottom: 0px;}
.postDes h2{font-size: 20px;margin-top:0;}
.postDes{transition: 0.5s;height: 100px;}
.postDes:hover{background-color: #dfdfdf;padding-left: 10px;}
#postBox li::after{left: 650px;opacity: 0.7;bottom:102px;content: "";position: relative;display: block;width:20px;height: 124px;background-color: #DDDDFF;}

h5{font-size: 20px;}
pre{overflow:scroll;margin-left:30px;font-size:17px;background-color: #dfdfdf;color:black;padding:20px;}

/*Home*/
#background{background-color: red; width:100%; height: 500px;}
h1{font-weight: normal;}
h2{font-weight: normal;}
h3{font-weight: normal;}
h4{font-weight: normal;}
h5{font-weight: normal;}


/* Now loading*/

.wave1{
    position: fixed;
    width:100%;
    height: 143px;
    bottom:0;
    background: url("/assets/wave.png");
    z-index: 3;
    opacity: 0.5;
    animation: waving linear 2s infinite;
}

.wave2{
    position: fixed;
    width:100%;
    height: 143px;
    bottom:0;
    background: url("/assets/wave2.png");
    z-index: 3;
    animation: waving linear 3s infinite;
    left:100px;
}

@keyframes waving {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }
}
