---
layout: default
Category: Coding
---

<head>
<title>ImpulsiveStudio::Home</title>

</head>

<body>
        <!--mainBox-->
    <div id="mainBoxOutline">
        <div id="mainBoxOutrigger">
            <div id="mainBoxSizer">
                <div id="mainCat">

                </div>
                <div id="postBox">
                    {% for post in site.posts %}
                        <div class="postDes">
                            {{post.title}}
                            {{post.content}}
                            {{post.Category}}
                        </div>
                    

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</body>
