<!DOCTYPE html>
<html lang="ko" dir="ltr">
    {% include head.html %}

    <body onload="loadingOff();">
        {% include SideBanner.html %}
        <div id="mainBoxOutline">
            <div id="mainBoxOutrigger">
                <div id="mainBoxSizer">
                    <div id="mainCat">

                        {% if page.subCat %}
                            {{page.subCat}}
                        {% else %}
                            {{page.Category}}
                        {% endif %}

                    </div>
                    <ul id="postBox">
                        {% for post in site.posts %}
                            {% if post.Category == page.Category %}
                                {% if page.subCat %}
                                    {% if post.subCat == page.subCat %}
                                        <a href="{{post.url}}">
                                            <li class="postDes">
                                                <h1>{{post.title}}</h1><br>
                                                <h2>{{post.description}}</h2>
                                            </li>
                                        </a>
                                    {% endif %}
                                {%else%}
                                <a href="{{post.url}}">
                                    <li class="postDes">
                                        <h1>{{post.title}}</h1><br>
                                        <h2>{{post.description}}</h2>

                                    </li>
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
